{% extends "base.html" %}
{% block content %}
<div id="auth">
   <div class="row h-100">
      <div class="col-lg-5 col-12">
         <div id="auth-left">
            <div class="auth-logo">
               <a href="index.html"></a>
            </div>
            <h1 class="auth-title"><i class="bi bi-chat-right-dots-fill"></i> Iniciar sesión.</h1>
            <p class="auth-subtitle mb-5">Debe utilizar sus credenciales de acceso para poder acceder a SpaceChat</p>
            <form action="." method="POST">
               <div class="form-group position-relative has-icon-left mb-4">
                  <input   class="form-control form-control-xl"  placeholder="Nombre de usuario"  type="text" name="username" autofocus="" maxlength="254" required="" id="id_username">
                  <div class="form-control-icon">
                     <i class="bi bi-person"></i>
                  </div>
               </div>
               <div class="form-group position-relative has-icon-left mb-4">
                  <input placeholder="Contraseña" class="form-control form-control-xl" type="password" name="password" required="" id="id_password">
                  <div class="form-control-icon">
                     <i class="bi bi-shield-lock"></i>
                  </div>
               </div>
               <div class="form-check form-check-lg d-flex align-items-end">
                  <label class="form-check-label text-gray-600" for="flexCheckDefault">
                  Si no recuerda las credenciales de acceso contacte con el administrador.
                  </label>
               </div>
               <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
               {% csrf_token %}
            </form>
         </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
         <div id="auth-right">                
         </div>
      </div>
   </div>
</div>
{% endblock %}