<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Error</title>    
</head>


{% extends "base.html" %}-

{% block content %}

<div id="error">

        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <div class="text-center">
                    <h1 style="margin-top: 100px;" class="error-title">ERROR 404</h1>
                    <p class='fs-5 text-gray-600'>No se ha encontrado la página.</p>
                    <a href="/" class="btn btn-lg btn-outline-primary mt-3">Ir al tablero principal</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
