<!DOCTYPE html>

{% load static %}

<html>
<head>
    
    <title>SpaceChat</title>
    <meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">    
    <link rel="stylesheet" href="{% static "css/pages/email.css" %}">
    <link rel="stylesheet" href="{% static "vendors/perfect-scrollbar/perfect-scrollbar.css" %}">
    <link rel="stylesheet" href="{% static "vendors/bootstrap-icons/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">

	<link rel="icon" type="image/jpg" href="https://github.com/NgomezKS/Django-message-app-with-Nginx-Daphne-and-Gunciorn/blob/main/images/rocket.png?raw=true">
	<!--https://github.com/NgomezKS/M12/blob/main/rocket.png?raw=true-->

    <link rel="stylesheet" href="{% static "assets/vendors/bootstrap-icons/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/pages/auth.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}">

    <link rel="stylesheet" href="{% static "assets/css/pages/error.css" %}">


	<script src="{% static "vendors/perfect-scrollbar/perfect-scrollbar.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>    
    <script src="{% static "js/main.js" %}"></script>

	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />
	<script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
	{% block extra_head %}{% endblock %}
</head>

<body>
	<header>
		<!--<h1>{% block header_text %}{% endblock %}</h1>
		{% if user.is_authenticated %}
			<a href="/accounts/logout/">Logout</a>
		{% endif %}-->
	</header>
	<section>
		{% block content %}
		{% endblock %}



	</section>
	{% block extra_body %}{% endblock %}
</body>

</html>
