<!--

***  The HTML5 template used to improve the      ***
***  visual aspect of this project has been      ***
***  downloaded from the themewagon.com website, ***
***  the original author is @ShareBootstrap      ***

Template -> https://technext.github.io/mazer/
Author -> https://themewagon.com/author/sharebootstrap/

-->

{% extends "base.html" %}
{% block content %}

<div id="app">
<div id="sidebar" class="active">
   <div class="sidebar-wrapper active">
      <div class="sidebar-header">
         <div class="d-flex justify-content-between">

            <!-- Esta sección tiene un logo con un enlace directamente a la home y también muestra el nombre del usuario conectado. -->
            <div class="logo">         
               <button id="home-page-btn" type="button" onclick="window.location = '/';">
                  <h2><i class="bi bi-chat-right-dots-fill"></i> SpaceChat</h2>
               </button>
               <h6>  Bienvenido usuario <span class="badge bg-light-success"> {{user}} </span></h6>
            </div>

            <div class="toggler">
               <a href="#" onclick="close_sidebar()" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>            
         </div>
      </div>
      <div class="sidebar-menu">
         <ul class="menu">
         
            <!-- Sección con ítems generados automáticamente, cada ítem corresponde a un chat en la base de datos sqlite -->
            <li class="sidebar-title" id="chats-list">Chats</li>
            {% for room in rooms %}
            <li class="sidebar-item" id="chat-{{ room.id }}">
               <a  onclick='joinChat("{{room.id}}")' data-room-id="{{ room.id }}" class='sidebar-link'>
               <i class="bi bi-chat-dots-fill"></i><span>{{ room }}</span></a>                  
            {% empty %}
               <p class="empty">No se ha creado ningún chat, contacte con el administrador.</p>
            {% endfor %}  
            </li>

            <!-- Sección de ítems estática con elementos referentes a la cuenta del usuario  -->
            <li class="sidebar-title" id="chats-list">Cuenta</li>
            <li class="sidebar-item"><a href="/../accounts/logout/" class='sidebar-link'>
               <i class="bi bi-arrow-return-left"></i><span>Cerrar sesión</span></a>
            </li>

         </ul>
      </div>
   </div>
   <div id="main">
      <header class="mb-3">
         <a onclick="open_sidebar()" href="#" class="burger-btn d-block d-xl-none">
         <i class="bi bi-justify fs-3"></i>
         </a>
      </header>
      <div class="page-heading email-application">
         <div class="page-title">
            <div class="row">
               <div class="col-12 col-md-6 order-md-1 order-last">
                  <h3 style="first-letter::text-transform: uppercase;">{{chat.title}}</h3> 

                  <!-- Pequeño símbolo para mostrar feedback al usuario de que el contenido está cargando. -->
                  <button id="loading" class="btn btn-primary" type="button" disabled="">
                  <span id="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando...</button>       

                  <hr>
                  <h6>Descripción del chat: </h6>
                  <p class="text-subtitle text-muted">{{chat.desc}}</p>
               </div>
               <div class="col-12 col-md-6 order-md-2 order-first">
                  <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Chats</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{chat.title}}</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
         
         <section id="chat-section" class="section content-area-wrapper" style="visibility:hidden; display:none;">
            <div class="content-right">
               <div class="content-overlay"></div>
               <div class="content-wrapper">
                  <div class="content-header row"></div>
                  <div class="content-body">
                     <div class="app-content-overlay"></div>
                     <div class="email-app-area">
                        <div class="email-app-list-wrapper">
                           <div class="email-app-list">
                              <nav  id="scroll-chat" style="overflow:hidden; overflow-y:scroll;" id="bacano" class="email-user-list list-group" >
                                 
                                 <!-- Todos los mensajes se añadirán debajo de este <ul> -->
                                 <ul  class="users-list-wrapper media-list" id="message-container">
                                    
                                    <!-- Cargamos los mensajes de la base de datos y los mostramos -->

                                    <!-- Para cargar los mensajes de la db iteramos sobre un archivo json previamente cargado en la view. -->
                                    <!-- https://docs.djangoproject.com/en/3.2/ref/templates/builtins/ -->
                                    <!-- https://docs.djangoproject.com/en/3.2/topics/templates/#:~:text=A%20Django%20template%20is%20a,is%20rendered%20with%20a%20context. -->
                                    {% for items in chat.my_json.items %}
                                       {% for element in items %}  
                                          {% if element.username|length > 0  %}
                                          <li class='media mail-read'>
                                             <div class='pr-50'>
                                                <div class='avatar'>
                                                   <img class='rounded-circle' src='https://technext.github.io/mazer/assets/images/faces/1.jpg'>
                                                </div>
                                             </div>
                                             <div class='media-body'>
                                                <div class='user-details'>
                                                   <div class='mail-items'>
                                                      <span class='list-group-item-text text-truncate mb-0'>{{element.username}}</span> <!-- msg-username -->
                                                   </div>
                                                   <div class='mail-meta-item'>
                                                      <span class='float-right'>
                                                      <span class='mail-date'>{{element.timestamp}}</span> <!-- msg-timestamp -->
                                                      </span>
                                                   </div>
                                                </div>
                                                <div class='mail-message'>
                                                   <p class='list-group-item-text mb-0 truncate'>{{element.message}}</p> <!-- msg-content -->
                                                   <div class='mail-meta-item'>
                                                      <span class='float-right'>
                                                      <span class='bullet bullet-warning bullet-sm'></span>
                                                      </span>
                                                   </div>
                                                </div>
                                             </div>
                                          </li>
                                          {% endif %}
                                       {% endfor %}  
                                    {% endfor %}  
                                 
                              </nav>
                              <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                 <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                              </div>
                              <div class="ps__rail-y" style="top: 0px; height: 733px; right: 0px;">
                                 <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 567px;"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      </div>
      <div class="col-md-6 mb-1">
      <div class="input-group mb-">

      <!-- Recoje la información del usuario i la envia  -->
      <input  style="visibility:hidden; display:none;" class="form-control"    type="text"   id="input-txt" onkeydown="send_on_enter()">
      <button style="visibility:hidden; display:none;" class="btn btn-primary" type="button" id="send-btn"  onclick="send_msg()">Send</button>
   
      </div>
      </div>
      </section>
   </div>
   <div class="row"></div>
</div>
{% endblock %}

{% block extra_body %}
<script>
// Creamos el websocket y creamos un path donde enviarle las peticiones
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws"; // Dependiendo de si utilizamos TLS o no se establecerá un path o otr, en producción solo se utiliza wss 
var ws_path = ws_scheme + "://" + window.location.host + "/chat/stream/";
var socket = new ReconnectingWebSocket(ws_path);

// show/display load 
chat_section = document.getElementById("chat-section")
send_btn = document.getElementById("send-btn")
input_txt = document.getElementById("input-txt")


// Esperamos a que el websocket se haya conectado al servidor y después nos unimos al chat seleccionado.
socket.onopen = () => socket.send(JSON.stringify({
    "command": "join",
    "room": "{{chat.id}}"
}));


function joinChat(chat) {
    socket.send(JSON.stringify({
        "command": "leave",
        "room": "{{chat.id}}"
    }));
    socket.close();
    window.location.href = '/chat/' + chat;
}

window.onload = function() {
    console.log("CARGADO")
    document.title = "Chat - {{chat.title}}";
    var element = document.getElementById("chat-{{chat.id}}");
    element.classList.add("active");

    // Escondemos el icono loading
    document.getElementById("loading").style.display = "none";

    // Mostramos los elementos ocultos
    chat_section.style.display = "block";
    chat_section.style.visibility = "visible";

    send_btn.style.display = 'block';
    send_btn.style.visibility = "visible";

    input_txt.style.display = 'block';
    input_txt.style.visibility = "visible";

    // Esperamos a que la conexión socket este establecida.
    socket.onopen = () => socket.send(JSON.stringify({
        "command": "join",
        "room": "{{chat.id}}"
    }));

    document.getElementById("scroll-chat").scrollTop = document.getElementById("scroll-chat").scrollHeight;
};

$(function() {

    // Escucha posibles conexiones entrantes     
    socket.onmessage = function(message) {

        var data = JSON.parse(message.data); 

        // Verifica si hay algun error
        if (data.error) {
            alert(data.error);
            return;
        }

        console.log("log: " + data.join)
        if (data.join) {

            // Hacer algo cuando el usuari se une al chat.

        } else if (data.message || data.msg_type != 0) {

            var message_template =
                "<li class='media mail-read'>" +
                "<div class='pr-50'>" +
                "<div class='avatar'>" +
                "<img class='rounded-circle' src='https://technext.github.io/mazer/assets/images/faces/1.jpg'> </div> </div>" +
                "<div class='media-body'>" +
                "<div class='user-details'>" +
                "<div class='mail-items'>" +
                "<span class='list-group-item-text text-truncate mb-0'>" + data.username + "</span> </div>" +
                "<div class='mail-meta-item'>" +
                "<span class='float-right'>" +
                "<span class='mail-date'>" + data.timestamp + "</span>" +
                "</span> </div> </div> <div class='mail-message'> " +
                "<p class='list-group-item-text mb-0 truncate'>" + data.message + "</p>" +
                " <div class='mail-meta-item'>" +
                "<span class='float-right'>" +
                "<span class='bullet bullet-warning bullet-sm'></span></span></div></div></div></li> ";

            $("#message-container").append(message_template);

            document.getElementById("scroll-chat").scrollTop = document.getElementById("scroll-chat").scrollHeight;

        } else {
            console.log("Cannot handle message :c");
        }
    };
});


// Enviamos el mensaje del usuario al chat y después scrolleamos el chat hacia abajo.
function send_msg() {

   input_text = document.getElementById("input-txt");


   if(!input_text.value.replace(/\s/g, '').length || input_text.value == '')
   {
      input_text.classList.add("is-invalid");
   } 
   else
   {
      input_text.classList.remove("is-invalid");

      socket.send(JSON.stringify({
         "command": "join",
         "room": "{{chat.id}}"
      }));
 
      socket.send(JSON.stringify({
         "command": "send",
         "room": "{{chat.id}}",
         "message": input_text.value
      }));

    input_text.value = '';
    document.getElementById("scroll-chat").scrollTop = document.getElementById("scroll-chat").scrollHeight;
   }  
}

// Agregamos la funcionalidad de poder enviar los mensajes al presionar la tecla enter.
function send_on_enter() {
    if (event.key === 'Enter') {
        send_msg();
    }
}

function open_sidebar() {
   document.getElementById("sidebar").classList.add("active");
}

function close_sidebar() {
   document.getElementById("sidebar").classList.remove("active");
}



</script>
{% endblock %}