[Unit]
Description=daphne_spacechat
After=network.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant/app/spacechat
ExecStart=/home/vagrant/app/spacechat/venv/bin/python /home/vagrant/app/spacechat/venv/bin/daphne -b 0.0.0.0 -p 8001 spacechat.asgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target















